@tailwind base;
@tailwind components;
@tailwind utilities;


.containerNormal {
    @apply p-4 max-w-5xl mx-auto w-full;
}

.CONTENT_PAGE {
    @apply prose prose-neutral;
}
.CONTENT_PAGE a:not(.wp-block-button__link) {
    @apply text-red-600 no-underline;
}
.CONTENT_PAGE img, .CONTENT_PAGE iframe {
    @apply rounded-lg border border-neutral-300 overflow-hidden;
}


.site-branding .custom-logo-link img {
    @apply h-12 w-auto aspect-square select-none;
}